[Unit]
Description=SSH Per-Connection Server
Wants=dropbearkey.service
After=syslog.target dropbearkey.service

[Service]
EnvironmentFile=-/etc/default/dropbear
ExecStart=-/usr/bin/dropbear -i -r /etc/dropbear/dropbear_rsa_host_key $DROPBEAR_OPTS
ExecReload=/bin/kill -HUP $MAINPID
StandardInput=socket
KillMode=process
